@model Spends.Models.Location
@{
    ViewBag.Title = "Novo Lugar | SCD - Sistema de Controle de Despesas";
}

<br />

<center><img src="~/Content/Logo.png" /></center>

<br />

<div class="content">
    <h2>Novo Lugar</h2>

    <br />

    <form action="/locations/Create" method="post">
        <div class="form-horizontinal">

            <div class="form-group">
                <label>Descrição*</label>
                <input class="form-control" type="text" required="required" name="description" />
            </div>
            <br />
            <p>* Campos obrigatórios</p>
            <br />
            <br />

            <div class="form-group">
                <button class="btn btn-success">Cadastrar&nbsp;<i class="glyphicon glyphicon-ok"></i></button>
            </div>

        </div>
    </form>
</div>