@model Association.Models.City
@{
    ViewBag.Title = "Create";
}

<h2>CADASTRO DE CIDADE</h2>

<form action="/cities/Create" method="post">
    <div class="form-horizontinal">
        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" type="text" name="name" />
        </div>

        <div class="form-group">
            <label>Estado</label>
            <select class="form-control" name="state">
                <option>Selecione o Estado</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AM">Amazonas</option>
                <option value="AP">Amapá</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RO">Rondônia</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SE">Sergipe</option>
                <option value="SP">São Paulo</option>
                <option value="TO">Tocantins</option>
            </select>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" name="btnSave" value="Cadastrar" />
        </div>
    </div>
</form>